@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$col: #6400D1;
$col2: #666666;


@import "_reset.scss";
@import "_grid.scss";



a {
  text-decoration: none;
  color: $col;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  color: #2E2E2E;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.contain {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.btn-o,
.btn {
  display: inline-flex;  
  align-items: center;      
  justify-content: center;
  padding: 0 34px;  
  height: 46px;  
  transition: 0.5s;
  border: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-o {
  color: #6400D1;
  width: 100%;
  border: 1px solid #6400D1;
  border-radius: 2px;
  background-color: #FFF;
  &:hover {
    border: 1px solid #501393;
    color: #501393;
    background-color: #F9F9F9;
  }
}
.btn {
  color: #fff;
  background-color: #6400D1;  
  border-radius: 4px;
  &:hover {
    background-color: #501393;
  }
}

a.more {
 font-size: 18px;
 background: url("../img/arr-r.svg") $nr $rc;  
 padding-right: 26px;
 display: inline-block;
 &:hover {
   text-decoration: none;
 }
}


input[type="text"] {
  height: 44px;
  padding: 0 21px;
  color: #999;
  width: 100%;
  margin-bottom: 0;
}

input[type="text"].input {
  height: 46px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.form-label {
  display: block;
}
.form-label-txt {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}


textarea {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  height: 181px;
  background-color: #FFF;
  color: #999;
  padding: 21px;
}

.form-row {
  display: flex;  
  align-items: center;
  p {
    margin-right: 26px;
    margin-bottom: 0;
  }
}

.form-label-radio {
  display: flex;  
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
  input[type="radio"] {
    display: none;
    + span {
      display: flex;      
      align-items: center;
      position: relative;
      &:before {
        flex: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: "";
        display: block;
        border: 1px solid #DDDDDD;
        box-shadow: inset 0px -2px 6px rgba(130, 130, 130, 0.25);
        margin-right: 6px;
        display: flex;        
        justify-content: center;
        align-items: center;
      }
    }
    &:checked {
      + span {
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background-color: $col;          
          border-radius: 50%;
          position: absolute;
          left: 4px;
          top: calc(50% - 4px);          
        }
      }
    }
  }
}
.form-radio-txt {  
}

.filter {
  margin-top: 89px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 9px 10px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
  padding: 50px;
}

.filter-row-w {
  display: flex;  
  align-items: center;
}
.filter-row {   
  border-radius: 2px 0px 0px 2px;
  flex-grow: 1;
  display: flex;  
  align-items: center;
  input[type="text"],
  .select2-container .select2-selection--single {
    border: 1px solid #DDDDDD;
    border-right: none;                
    &:hover {

    }
  }


}



.filter-col-1 {
  width: 262px;
  flex: none;
}
.filter-col-2 {
  width: 228px;
  flex: none;
}
.filter-col-3 {
  width: 252px;
  flex: none;
}
.filter-col-4 {  
  flex: 1 1 100%;
  width: 100%;
}

.filter-btn {
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  flex: none;  
}












.banner {
  position: relative;
  padding-top: 153px;  
  padding-bottom: 140px;
  background-size: cover;
  background-image: url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 6.47%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 100%;
  }
}
.banner-w {  
  position: relative;
  h1 {
    text-align: center;
    font-size: 68px;
    color: rgb(255, 255, 255);
    margin-bottom: 23px;
  }
}


.banner-txt-1 {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 36px;
}




.top {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(221, 221, 221);  
}



.top-w {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: #2E2E2E;
  &:hover {
    text-decoration: none;
  }
}

.top-r {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.top-mnu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  li {
    margin-left: 31px;
  }

  a {
    font-size: 16px;
    color: rgb(46, 46, 46);
  }
}



.top-heart {
  margin-left: 32px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 21px;
}

.heart-count {
  position: absolute;
  top: -20px;
  right: -20px;
  background: rgb(100, 0, 209);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}



.cats {
  margin-top: 59px;
  margin-bottom: -39px;
}



.cats-it {
  width: 100%;
  color: rgb(46, 46, 46);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
  &:hover {
    text-decoration: none;
  }
}

.cats-it-w {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 53px;
  height: 53px;
  flex-direction: column;
  svg, img {
    max-width: 100%;
  }
}

.cats-it-txt {
  font-size: 18px;
  font-weight: 600;
}

.feat {
  margin-top: 152px;
  margin-bottom: -30px;
}

.heading-w {
  display: flex;  
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 44px;
  line-height: 1.4;
  h2 {
    margin-bottom: 0;
    line-height: 1;
  }
}



.feat-it {
  width: 100%;
}

.reitem-img-wrap {
  position: relative;
  margin-bottom: 14px;
}

.reitem-img-w {
  width: 100%;
  height: 182px;
  border-radius: 4px;
  display: block;  
  overflow: hidden;  
}

.reitem-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feat-like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 16px;
  left: 14px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
}

.label-like {
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 14px;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    + span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: rgb(255, 255, 255);            
      border-radius: 50%;
      overflow: hidden;  
      background: #fff url("../img/heart-o.svg") $nr center;
    }
    &:checked {
      + span {
       background-image: url("../img/heart.svg");
     }
   }
 }
}

.reitem-txt-1 {
  line-height: 26px;
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  color: rgb(46, 46, 46);
}

.reitem-txt-2 {
  font-size: 16px;
  margin-bottom: 30px;
  color: rgb(102, 102, 102);
  line-height: 23px;
}

.revss {
  margin-top: 156px;
}



.revss-it {
  width: 100%;
}

.revss-tit {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 12px;
}

.revss-txt {
  font-size: 16px;
  line-height: 1.5;
}

.revss-info {
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.revss-name {
  font-size: 16px;
  color: rgb(102, 102, 102);
  padding-left: 18px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 23px;
}

.revss-date {
  font-size: 16px;
  color: rgb(102, 102, 102);
}

.pubss {
  margin-top: 158px;
  margin-bottom: -28px;
}

.pubss-it {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 28px;
  position: relative;
  height: 235px;
  display: block;
  &:after {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 6.24%, #000000 100%);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.pubss-img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.pubss-txts {
  position: absolute;
  bottom: 26px;
  left: 20px;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.pubss-date {
  font-size: 16px;
  margin-bottom: 7px;
}

.pubss-tit {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.foot {
  background: rgb(19, 6, 32);
  padding-top: 52px;
  padding-bottom: 90px;
  margin-top: 174px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}




.logo2 {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  &:hover {
    text-decoration: none;
  }
}

.foot-ul {
  li {
    margin-bottom: 17px;
  }

  a {
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
}



.soc-w {
  display: flex;
  align-items: center;
  margin-top: 16px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.soc {
  background: rgb(30, 17, 43);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  margin-left: 16px;
}




.select2-container { 
  border: none; 
  width: 100% !important;
  .select2-selection--single {    
    border: none;
    padding: 0 21px;
    display: flex;            
    align-items: center;
    line-height: 1;
    height: 44px;
    border-right: 1px solid #DDDDDD;
    border-radius: 0;
    &:hover {

    }
    .select2-selection__arrow {

    }
    .select2-selection__rendered {      
      font-weight: 600;
      font-size: 15px;      
      margin-right: 0;
      padding: 0;
      line-height: 1;
    }
    .select2-selection__arrow {
      width: 10px;
      background: url("../img/arr-b-sort.svg") $nr right center;
      position: static;
      margin-left: auto;
      height: 44px;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none !important;
  }
  .select2-search--dropdown {
    border: none;
    background: none !important;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;
    margin-top: 0px;
    > .select2-results__options {
      background-color: #FFF;
      border: 1px solid #ddd;
      border-top: none;
      border-radius: 0 0 2px 2px;
      overflow: hidden;       
      position: relative;
      margin-top: -1px;
      &:before {
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        margin-left: 15px;
        display: block;
        background-color: #ddd;
      }
    }
    
  }
  .select2-results__option {
    border: none;    
    font-size: 15px;
    font-weight: 600;
    padding: 13px;
    background: none;
  }
} 

.top-heart-emp {
  margin-left: 24px;
}

.s-form {
  display: flex;  
  align-items: center;
  margin-left: 24px;
}
input[type="text"].s-input {
  padding: 0 16px;
  border-radius: 2px;
  margin-right: -2px;
  width: 315px;
  flex: none;
}
.s-btn {
  border-radius: 0px 4px 4px 0px;
}

.top2 {
  margin-bottom: 34px;
}

.bread-ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom: 42px;  
  li {
    margin-right: 6px;
    &:after {
      content: "/";
      color: rgb(102, 102, 102);
      font-size: 16px;
      margin-left: 6px;
    }    
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: rgb(102, 102, 102);
    font-size: 16px;
  }
  span {
    color: rgb(102, 102, 102);
    font-size: 16px;  
  }
}

.content {
  h1 {
    font-size: 44px;
    line-height: 1.45;
    margin-bottom: 40px;    
  }
}

.h1-wrap {
  display: flex;
  line-height: 1.45;
  margin-bottom: 40px;
  h1 {
    line-height: 1;
    margin-bottom: 0;
  }
  span {
      color: #999;
      font-size: 14px;      
      display: inline-block;
    }
}



.cols-w {
  display: flex;
}
.col-l {
  width: 100%;
}
.col-r {
  flex: none;
  width: 284px;
  margin-left: 20px;
}

.feat-it-h {
  display: flex;
  margin-bottom: 31px;
  .reitem-txt-1 {
    margin-bottom: 10px;
  }
  .reitem-img-wrap {
    width: 282px;
    flex: none;
    margin-right: 25px;
  }
}

.reitem-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 14px;
  color: #2E2E2E;
}

.reitem-txt-22 {
  padding-left: 18px;
  background: url("../img/geo.svg") $nr left 0px top 3px;  
          background-size: 14px;
}

@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";