@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$col: #6400D1;
$col2: #666666;


@import "_reset.scss";
@import "_grid.scss";



a {
  text-decoration: none;
  color: $col;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  color: #2E2E2E;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.contain {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.btn-o,
.btn {
  display: inline-flex;  
  align-items: center;      
  justify-content: center;
  padding: 0 34px;  
  height: 46px;  
  transition: 0.5s;
  border: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-o {
  color: #6400D1;
  width: 100%;
  border: 1px solid #6400D1;
  border-radius: 2px;
  background-color: #FFF;
  &:hover {
    border: 1px solid #501393;
    color: #501393;
    background-color: #F9F9F9;
  }
}
.btn {
  color: #fff;
  background-color: #6400D1;  
  border-radius: 4px;
  &:hover {
    background-color: #501393;
  }
}

a.more {
 font-size: 18px;
 background: url("../img/arr-r.svg") $nr $rc;  
 padding-right: 26px;
 display: inline-block;
 &:hover {
   text-decoration: none;
 }
}


input[type="text"] {
  height: 44px;
  padding: 0 21px;
  color: #999;
  width: 100%;
  margin-bottom: 0;
  background-color: #FFF;
}

input[type="text"].input {
  height: 46px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.form-label {
  display: block;
}
.form-label-txt {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}


textarea {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  height: 181px;
  background-color: #FFF;
  color: #999;
  padding: 21px;
}

.form-row {
  display: flex;  
  align-items: center;
  margin-bottom: 47px;
  p {
    margin-right: 26px;
    margin-bottom: 0 !important;
  }
}

.form-label-radio {
  display: flex;  
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
  input[type="radio"] {
    display: none;
    + span {
      display: flex;      
      align-items: center;
      position: relative;
      &:before {
        flex: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        content: "";
        display: block;
        border: 1px solid #DDDDDD;
        box-shadow: inset 0px -2px 6px rgba(130, 130, 130, 0.25);
        margin-right: 6px;
        display: flex;        
        justify-content: center;
        align-items: center;
      }
    }
    &:checked {
      + span {
        &:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background-color: $col;          
          border-radius: 50%;
          position: absolute;
          left: 4px;
          top: calc(50% - 4px);          
        }
      }
    }
  }
}
.form-radio-txt {  
}

.filter {
  margin-top: 89px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 9px 10px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
  padding: 50px;
}

.filter-row-w {
  display: flex;  
  align-items: center;
}
.filter-row {   
  border-radius: 2px 0px 0px 2px;
  flex-grow: 1;
  display: flex;  
  align-items: center;
  input[type="text"],
  .select2-container .select2-selection--single {
    border: 1px solid #DDDDDD;
    border-right: none;                
    &:hover {

    }
  }


}



.filter-col-1 {
  width: 262px;
  flex: none;
}
.filter-col-2 {
  width: 228px;
  flex: none;
}
.filter-col-3 {
  width: 252px;
  flex: none;
}
.filter-col-4 {  
  flex: 1 1 100%;
  width: 100%;
}

.filter-btn {
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  flex: none;  
}












.banner {
  position: relative;
  padding-top: 153px;  
  padding-bottom: 140px;
  background-size: cover;
  background-image: url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 6.47%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 100%;
  }
}
.banner-w {  
  position: relative;
  h1 {
    text-align: center;
    font-size: 68px;
    color: rgb(255, 255, 255);
    margin-bottom: 23px;
  }
}


.banner-txt-1 {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 700;
}

h1 {
  font-size: 44px;
  line-height: 1.45;
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 36px;
}




.top {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgb(221, 221, 221);  
}



.top-w {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: #2E2E2E;
  flex: none;
  &:hover {
    text-decoration: none;
  }
}

.top-r {
  margin-left: auto;
  display: flex;
  align-items: center;  
}

.top-mnu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  li {
    margin-left: 31px;
  }

  a {
    font-size: 16px;
    color: rgb(46, 46, 46);
  }
}



.top-heart {
  margin-left: 32px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  position: relative;
  margin-right: 21px;
}

.heart-count {
  position: absolute;
  top: -20px;
  right: -20px;
  background: rgb(100, 0, 209);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
}



.cats {
  margin-top: 59px;
  margin-bottom: -39px;
}



.cats-it {
  width: 100%;
  color: rgb(46, 46, 46);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 45px;
  &:hover {
    text-decoration: none;
  }
}

.cats-it-w {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 53px;
  height: 53px;
  flex-direction: column;
  svg, img {
    max-width: 100%;
  }
}

.cats-it-txt {
  font-size: 18px;
  font-weight: 600;
}

.feat {
  margin-top: 152px;
  margin-bottom: -30px;
}

.heading-w {
  display: flex;  
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 44px;
  line-height: 1.4;
  h2 {
    margin-bottom: 0;
    line-height: 1;
  }
}

.s-form-w {
  display: flex;  
  align-items: center;
}
.s-open {
  display: none;
}

.feat-it {
  width: 100%;
  margin-bottom: 30px;
}

.reitem-img-wrap {
  position: relative;
  margin-bottom: 14px;
}

.reitem-img-w {
  width: 100%;
  height: 182px;
  border-radius: 4px;
  display: block;  
  overflow: hidden;  
}

.reitem-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.feat-like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 16px;
  left: 14px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
}

.label-like {
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 14px;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    + span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: rgb(255, 255, 255);            
      border-radius: 50%;
      overflow: hidden;  
      background: #fff url("../img/heart-o.svg") $nr center;
    }
    &:checked {
      + span {
       background-image: url("../img/heart.svg");
     }
   }
 }
}

.reitem-txt-1 {
  line-height: 26px;
  font-weight: 600;
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  color: rgb(46, 46, 46);
}

.reitem-txt-2 {
  font-size: 16px;  
  color: rgb(102, 102, 102);
  line-height: 23px;
}

.revss {
  margin-top: 156px;
}



.revss-it {
  width: 100%;
}

.revss-tit {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 12px;
}

.revss-txt {
  font-size: 16px;
  line-height: 1.5;
}

.revss-info {
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.revss-name {
  font-size: 16px;
  color: rgb(102, 102, 102);
  padding-left: 18px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 23px;
}

.revss-date {
  font-size: 16px;
  color: rgb(102, 102, 102);
}

.pubss {
  margin-top: 158px;
  margin-bottom: -28px;
}

.pubss-it {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 28px;
  position: relative;
  height: 235px;
  display: block;
  &:after {
    content: "";
    position: absolute;
    display: block;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 6.24%, #000000 100%);    
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.pagin-pubs-w {
  margin-top: -23px;
}

.pubss-img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.pubss-txts {
  position: absolute;
  bottom: 26px;
  left: 20px;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.pubss-date {
  font-size: 16px;
  margin-bottom: 7px;
}

.pubss-tit {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.foot {
  background: rgb(19, 6, 32);
  padding-top: 52px;
  padding-bottom: 90px;
  margin-top: 174px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}




.logo2 {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  color: rgb(255, 255, 255);
  &:hover {
    text-decoration: none;
  }
}

.foot-ul {
  li {
    margin-bottom: 17px;
  }

  a {
    color: rgb(255, 255, 255);
    line-height: 1.5;
  }
}



.soc-w {
  display: flex;
  align-items: center;
  margin-top: 16px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.soc {
  background: rgb(30, 17, 43);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
  margin-left: 16px;
}




.select2-container { 
  border: none; 
  width: 100% !important;
  .select2-selection--single {    
    border: none;
    padding: 0 21px;
    display: flex;            
    align-items: center;
    line-height: 1;
    height: 44px;
    border-right: 1px solid #DDDDDD;
    border-radius: 0;
    &:hover {

    }
    .select2-selection__arrow {

    }
    .select2-selection__rendered {      
      font-weight: 400;
      font-size: 15px;      
      margin-right: 0;
      padding: 0;
      line-height: 1;
    }
    .select2-selection__arrow {
      width: 10px;
      background: url("../img/arr-b-sort.svg") $nr right center;
      position: static;
      margin-left: auto;
      height: 44px;
      b {
        display: none;
      }
    }
  }  
  .select2-dropdown {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none !important;
  }
  .select2-search--dropdown {
    border: none;
    background: none !important;
    .select2-search__field {
      border: none;
    }
  }
  .select2-results {
    border: none;
    margin-top: 0px;
    > .select2-results__options {
      background-color: #FFF;
      border: 1px solid #ddd;
      border-top: none;
      border-radius: 0 0 2px 2px;
      overflow: hidden;       
      position: relative;
      margin-top: -1px;
      &:before {
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        margin-left: 15px;
        display: block;
        background-color: #ddd;
      }
    }
    
  }
  .select2-results__option {
    border: none;    
    font-size: 15px;
    color: #2E2E2E;
    
    padding: 13px;
    background: none;
  }
} 

.top-heart-emp {
  margin-left: 24px;
  margin-right: 0 $i;
}

.s-form {
  display: flex;  
  align-items: center;
  margin-left: 24px;
}
input[type="text"].s-input {
  padding: 0 16px;
  border-radius: 2px;
  margin-right: -2px;
  width: 315px;
  flex: none;
}
.s-btn {
  border-radius: 0px 4px 4px 0px;
}

.top2 {
  margin-bottom: 38px;
  padding: 18px 0;
}

.bread-ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom: 45px;  
  li {
    margin-right: 6px;
    &:after {
      content: "/";
      color: rgb(102, 102, 102);
      font-size: 16px;
      margin-left: 6px;
    }    
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: rgb(102, 102, 102);
    font-size: 16px;
  }
  span {
    color: rgb(102, 102, 102);
    font-size: 16px;  
  }
}

.content {
  h1 {
    font-size: 44px;
    line-height: 1.45;
    margin-bottom: 51px;    
  }
}

.h1-wrap {
  display: flex;
  line-height: 1.45;
  margin-bottom: 51px;
  h1 {
    line-height: 1;
    margin-bottom: 0;
  }
  span {
    color: #999;
    font-size: 14px;      
    display: inline-block;
  }
}



.cols-w {
  display: flex;
}
.col-l {
  width: 100%;
}
.col-r {
  flex: none;
  width: 284px;
  margin-left: 20px;
}

.feat-it-h {
  display: flex;
  margin-bottom: 31px;  
  &:last-child {
    margin-bottom: 0;
  }
  .reitem-txt-1 {
    margin-bottom: 10px;
  }
  .reitem-img-wrap {
    width: 282px;
    flex: none;
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.feat-it-r {
  margin-top: -4px;
}

.reitem-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 14px;
  color: #2E2E2E;
}

.reitem-txt-22 {
  padding-left: 18px;
  background: url("../img/geo.svg") $nr left 0px top 3px;  
  background-size: 14px;
}

.r-filter {
  background: #F9F9F9;
  border-radius: 8px;
  padding: 34px 24px;
  .select2-container {
    margin-bottom: 21px;
    .select2-selection--single {
      border: 1px solid #ddd; 
      padding: 0 19px 0 16px;
      .select2-selection__rendered {
        color: #999;
        font-weight: 400;
      }
    }
  }
}


.r-filter-select-b + .select2-container {
  .select2-selection--single {
    .select2-selection__rendered {
      color: #2E2E2E;
    }
  }
}

.r-filter-tit {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 17px;
}

.r-filter-btn {

}


.rnav {
  background: rgb(249, 249, 249);
  border-radius: 8px;
  padding: 33px;
  margin-top: -16px;
  ul {

  }

  li {
    margin-bottom: 20px;
    &.active {
      a {
        font-weight: 700;
      }
    }
  }

  a {
    font-size: 16px;
    color: #2E2E2E;
    &.checked {
      background: url("../img/cheked.svg") $nr left center;
      padding-left: 24px;
      color: #6400D1;
    }
  }
}

.rnav-tit {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}



.pagin {
  margin-top: 62px;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    margin-left: 12.5px;
    margin-right: 12.5px;
    &.active {
      a {
        color: #6400D1;
      }
    }
  }

  a {
    color: rgb(46, 46, 46);
    font-size: 16px;
  }
}


.theat-desc-tit-w {
  display: flex;
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
  .label-like {
    position: static;
    input[type="checkbox"] + span {
      border: 1px solid #DDDDDD;
      flex: none; 
    }    
    margin-left: 7px;
  }
}

.theat-tit-like {
  display: inline-flex;  
  align-items: center;  
}

.theat-desc-tit-logo {
  width: 155px;
  height: 120px;
  display: flex;
  align-items: center;  
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);  
  border-radius: 4px;
  margin-right: 21px;
  flex: none;
  img {
    max-width: 100%;
  }
}

.stheatr-cols {
  margin-top: 30px;
}

.rnav-2 {
  margin-top: 0;
  padding: 37px;
  li {
    margin-bottom: 28px;
  }
}



.article-content {
  img {
    max-width: 100%;
  }
  h2 {
    margin-bottom: 14px;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    color: #2E2E2E;
    margin-bottom: 25px;
  }
  ol, ul {
    margin-top: 12px;
    margin-left: 20px;
  }
  li {
    line-height: 1.5;
    margin-bottom: 3px;    
    
    &:before {
      margin-top: 11px;
      margin-right: 7px;
      content: "";
      display: block;
      background: #C4C4C4;
      width: 5px;
      height: 5px;
      float: left;
      border-radius: 50%;
    }
  }
}


.sthetre-img-w {
  margin-bottom: 30px;
  img {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.45;
    color: #999999;
    a {
      color: #999999;
    }
  }
}

.article-info {
  margin-top: 31px;
  p {
    line-height: 1.4;
    margin-bottom: 6px;
  }  
}

.article-conts {
  margin-top: 109px;
  table {
    width: 100%;  
    max-width: 522px;
    margin-bottom: 32px; 
    font-size: 16px;
    color: #666666;    
    td {
      width: 50%;
      line-height: 1.45;
      padding: 7.5px 0;
    }
    tr {      
      &:last-child {
        td {
          padding-top: 0px;
        }
      }
    }
  }
}
.art-socs {
  display: flex;  
  align-items: center;
}
.art-soc {
  margin-right: 13px;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #999999;  
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    text-decoration: none;
  }
}


.conts-map-w {  
  max-height: 411px;
  img {    
    width: auto;    
    max-width: 100%;
  }
  margin-bottom: 28px;
}

.cmap-info {
  display: flex;  
  flex-wrap: wrap;
  span, a {
    display: inline-flex;    
    align-items: center;
    margin-right: 28px; 
    color: #666;   
    &:last-child {
      margin-right: 0;
    }
    img {
      margin-right: 6px;
    }
  }
}

.article-pubs,
.article-revs,
.article-others {
  margin-top: 108px;
}

.article-pubs {
  margin-bottom: -28px;
}

.article-pubs-w {
  margin-top: 26px;
}

.revss-it-h {
  margin-bottom: 36px;
  padding-bottom: 25px;
  border-bottom: 1px solid #DDDDDD;
}

.article-others {
  margin-bottom: -30px;
}

.addrev-inputs {
  margin-bottom: 41px;
}


.article-addrev {
  padding: 46px 23px;
  background: #F9F9F9;
  border-radius: 8px;
  margin-top: -3px;
  h6 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.45;
  }
}

.addrev-confirm {
  display: flex;  
  align-items: center;
  line-height: 1.45;
  margin: 25px 0;
  div {
    margin-left: 21px;
    display: inline-block;
  }
}
.addrev-cap {}

.favorites-page {
  margin-bottom: -30px;
}

.favorites-w {
  margin-top: -15px;
}

.revs-cols {
  margin-top: -14px;
  .col-r {
    margin-left: 48px;
  }
}

.revs-pagin-w {
  margin-top: 68px;
}


.about-cols {

}

.about-form-tit {
  font-size: 32px;
  margin-bottom: 33px;
  line-height: 1.45;
}
.about-form-w {
  background: #F9F9F9;
  border-radius: 8px;
  padding: 45px 34px;
  margin-top: 93px;
}


.abform-area {
  height: 188px;
}

.abform-inputs {
  margin-bottom: 26px;
}

.about-cols {
  margin-top: -41px;
  .article-content {
    p {
      margin-bottom: 22px;
    }
  }
}

.abform-btn {
  margin-top: 26px;
  height: 42px; 
}

.tabs-cols {
  margin-top: -13px;
}







.list-theat {

}


.list-theats-w {

}

.list-theat-w {
  margin-bottom: 19px;  
  &:last-child {
    margin-bottom: 0;
  }
}

.list-theat-dr {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: rgb(46, 46, 46);
  background: rgb(249, 249, 249);
  border-radius: 8px;
  height: 70px;
  padding: 0 22px;
  justify-content: space-between;    
  align-items: center;
  &:hover {
    text-decoration: none;
  }
  span {
    background-image: url("../img/arr-d.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;    
    transition: 0.5s;
  }
  &.active-header {
    span {
      transform: rotate(90deg);
    }
  }
}



.lists-theat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 25px 0 3px 0;
  &.open-content {
    width: 100% !important; 
    margin-bottom: 33px;
  }  
}

.lists-theat-ul {
  li {
    margin-bottom: 14px;
  }

  a {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(46, 46, 46);
  }
}


.accordion-content {
  display: none
}

.node-cols {
  margin-top: -30px;
}

.contents-tit {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 19px;
}
.contents-w {
  background: #F9F9F9;
  border-radius: 4px;
  padding: 28px 28px 11px 32px;
  margin-bottom: 30px;
  li {

  }
  ol {
    list-style: none;   
    counter-reset: li;
    padding-left: 0;
    margin-top: 0;
    li {
      font-size: 16px;
      line-height: 1.6;
      color: #6400D1; 
      margin-bottom: 7px;     
      a {      
        color: #6400D1;        
      }
      &:before {      
        width: auto;
        height: auto;
        background: none;
        display: inline;
        margin-top: 0;
        float: none;
        margin-right: 5px;
        counter-increment: li;
        content: counters(li, ".") ". ";
      }
      ol {
        padding-left: 22px;
        li {

        } 
      }
    }
  } 
}

.node-feat-w {
  margin-top: 71px;
  margin-bottom: 55px;
}

.node-pubs {
  margin-top: 89px;
  margin-bottom: -26px;
}

.node-content {
  margin-top: -6px;
}


.equip-ul.more {
  height: 216px;
  overflow-x: auto;
  margin-right: -25px !important;
}

.equip-ul-2 {
  margin-bottom: 23px;
  li {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
.equip-ul {  
  li {
    line-height: 1.5;
    margin-bottom: 11px;  
    &:last-child {
      margin-bottom: 11px !important;
    }
  }
  a {
    color: #2E2E2E;
  }
  li.listcity-main {
    font-weight: 700;
    margin-bottom: 38px;
    font-size: 18px;
  }
  li.listcity-first {  
    font-weight: 700;
    font-size: 18px;
  }
}

.listcity-page {
  margin-bottom: -44px;
  max-width: 1097px;
  width: 100%;
  margin-top: -12px;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #DADADA;
  width: 9px;  
  border-radius: 0;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #B1B1B1;
  width: 9px;
  border-radius: 0;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #B1B1B1 !important;
  border-radius: 0;
}

.mCSB_inside>.mCSB_container {
  margin-right: 10px;
}

.mCSB_scrollTools {
  right: 22px;
}

.listteatre-page {
  margin-top: -3px;
}
.mapsite__actions {
  ul {
    
  }
}
.mapsite__all-link {}

.mapsite__letter {
  font-size: 24px;
line-height: 1.45;
margin-bottom: 5px;

color: #2E2E2E;
}

.listteatre-row-w {
  margin-bottom: 52px;  
  &:last-child {
    margin-bottom: 0;
  }
}

.listteatre-row {}
.listteatre-col {
  ul {
    li {
      line-height: 1.5;
      margin-bottom: 16px;
      a {
        color: #2E2E2E;
      }
    }
  }
}

.all-lett {
  display: inline-block;
  padding-right: 27px;
  background: url("../img/arr-v-r.svg") $nr right center;
}

.mapsite__actions {
  display: flex;
  margin-bottom: 36px;
  flex-wrap: wrap;
  align-items: flex-start;
  ul {
    display: flex;    
    margin-bottom: 15px;    
            align-items: flex-start;
    margin: 0 -7px;
    margin-right: 24px;
    margin-bottom: 15px;
    li {
      margin: 0 7px;
      line-height: 1;    
      font-size: 16px;        
      a {
        color: #666;        
        border-bottom: 1px solid transparent;
        &:hover {
          color: #2E2E2E;
          text-decoration: none;
          border-bottom: 1px solid #2E2E2E;
        }
      }
    }
}
}



.mapsite__all-link {  
  display: inline-block;
  padding-bottom: 3px;  
  color: #2E2E2E;
  line-height: 1;
  font-size: 16px;
  &.active {    
    border-bottom: 1px solid #2E2E2E;
    text-decoration: none;
  }
}


@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";